.root{
	-fx-text-fill: white;
	-fx-background-image :url("GUIbackground.jpg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
}

.statisticsInfoText {
    -fx-text-fill: white;
    -fx-fill: white;
}

/*
.statisticsPane {
    -fx-background-color: white;
}*/

#packageInforamtonPane {
    -fx-background-color: white;
    -fx-border-color: #666970;
}

.gridpane {
    -fx-vgap: 5;
    -fx-hgap: 5;
    -fx-grid-lines-visible: false;
}

#timePicker, packagePicker {
    -fx-border-color: #666970;
}

/* Listview cells */
.list-cell:selected {
    -fx-background-color: #0258e2;
    -fx-text-fill: white;
}

.list-cell:hover {
    -fx-background-color: #77a7f4;
    -fx-text-fill: black;
}
