
/* windows */

.root{
	-fx-text-fill: white;
	-fx-background-image :url("GUIbackground.jpg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;

}
#addSmartpostPane, #sendPacketPane{
    
    -fx-background-image :url("GUIbackground.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    
}


/* labels */

.label{
	-fx-text-fill: white;
	
}
/* ComboBox */

.combo-box-base{
	-fx-background-color: #0258e2;
	
} 
.combo-box .list-cell{
	-fx-background-color: #2e65f2;	
	-fx-text-fill: white;
}

/* Buttons */

.button{
	-fx-text-fill: white;
	-fx-background-color: #0258e2;	
}

.button:hover{
	-fx-background-color: #77a7f4;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

/* ChoiceBox */

.choice-box{
	-fx-background-color: orange;
	-fx-text-fill: white;
}
.choice-box .label{
	-fx-text-fill: white;
}
.choice-box .context-menu{
	-fx-background-color: #2e65f2;
	-fx-text-fill: white;
}
.choice-box:hover{
	-fx-background-color: #f2c58e;
}
.choice-box .menu-item:focused{
	-fx-background-color: orange;
	
}
/* Radio-button */

.radio-button {
	-fx-text-fill: white;
}

/* CheckBox */

.check-box{
	-fx-text-fill: white;
}

/* Listview cells */
.list-cell:selected {
    -fx-background-color: #0258e2;
    -fx-text-fill: white;
}

.list-cell:hover {
    -fx-background-color: #77a7f4;
    -fx-text-fill: black;
}